force-app/main/default/flows/Add_Invoice_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Services</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Vendor_Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Invoice.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Invoice.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <object>Project_Services__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaxType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tax_Type_1__c</picklistField>
        <picklistObject>Invoice_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Invoice Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Invoice Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice_Line_Item</name>
        <label>Create Invoice Line Item</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Current_Invoice.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Get_Current_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_1__c</field>
            <value>
                <elementReference>Tax_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_2__c</field>
            <value>
                <elementReference>Tax_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_3__c</field>
            <value>
                <elementReference>Tax_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Type_1__c</field>
            <value>
                <elementReference>Tax_Type_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Type_2__c</field>
            <value>
                <elementReference>Tax_Type_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Type_3__c</field>
            <value>
                <elementReference>Tax_Type_3</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Invoice</name>
        <label>Get Current Invoice</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Invoice_Line_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Purchase_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Invoice_Line_Item</name>
        <label>New Invoice Line Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Invoice_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Service</name>
            <choiceReferences>Services</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tax_Type_1</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>TaxType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Tax Type 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_1</name>
            <dataType>Number</dataType>
            <fieldText>Tax 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tax_Type_2</name>
            <choiceReferences>TaxType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Tax Type 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_2</name>
            <dataType>Number</dataType>
            <fieldText>Tax 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tax_Type_3</name>
            <choiceReferences>TaxType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Tax Type 3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_3</name>
            <dataType>Number</dataType>
            <fieldText>Tax 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Remarks</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
