force-app/main/default/flows/Send_to_SDM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check Error message if it contains &quot;Please add primary internal SDM in Project Team&quot; error message</description>
        <name>Check_Error_message</name>
        <label>Check Error message</label>
        <locationX>58</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>internal_sdm_error_message_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please add primary internal SDM in Project Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowErrortoUser</targetReference>
            </connector>
            <label>internal sdm error message check</label>
        </rules>
    </decisions>
    <description>Flow will update Billing Status to &quot;Send to SDM&quot; which further will call the approval process</description>
    <formulas>
        <name>FriendlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. For details, see API Exceptions&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Send to SDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send to SDM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Status</name>
        <label>Update Approval Status</label>
        <locationX>177</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Sent_to_SDM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error_message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Approval_Status__c</field>
            <value>
                <stringValue>Sent to SDM</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Information__c</object>
    </recordUpdates>
    <screens>
        <name>Sent_to_SDM</name>
        <label>Sent to SDM</label>
        <locationX>374</locationX>
        <locationY>322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(36, 195, 25);&quot;&gt;Request has been successfully submitted to TIG SDM for Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowErrortoUser</name>
        <label>ShowErrortoUser</label>
        <locationX>93</locationX>
        <locationY>500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 29, 29); background-color: rgb(255, 255, 255);&quot;&gt;Please add primary internal SDM in Project Team﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
