force-app/main/default/flows/Send_to_AR_Head.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Send to AR Head {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send to AR Head</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Status</name>
        <label>Update Approval Status</label>
        <locationX>176</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Sent_to_AR_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Approval_Status__c</field>
            <value>
                <stringValue>Sent to AR Head</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Information__c</object>
    </recordUpdates>
    <screens>
        <name>Sent_to_AR_Head</name>
        <label>Sent to AR Head</label>
        <locationX>176</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(36, 195, 25);&quot;&gt;Request has been successfully submitted to AR Head for Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
