force-app/main/default/flows/Send_to_Client_SDM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check error message if it contains &quot;Please add primary external SDM in Project Team&quot;</description>
        <name>Check_error_message</name>
        <label>Check error message</label>
        <locationX>48</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_SDM_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please add primary external SDM in Project Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FaultScreen</targetReference>
            </connector>
            <label>External SDM Error</label>
        </rules>
    </decisions>
    <description>This flow will update the Billing Status with the of &quot;Sent to Client SDM&quot;</description>
    <interviewLabel>Send to Client SDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send to Client SDM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Status</name>
        <label>Update Approval Status</label>
        <locationX>177</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Sent_to_Client_SDM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_error_message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Approval_Status__c</field>
            <value>
                <stringValue>Sent to Client SDM</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Information__c</object>
    </recordUpdates>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>64</locationX>
        <locationY>414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(234, 32, 32);&quot;&gt;Please add primary external SDM in Project Team&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sent_to_Client_SDM</name>
        <label>Sent to Client SDM</label>
        <locationX>297</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SenttoClientSDM</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(36, 195, 25);&quot;&gt;﻿Request has been successfully submitted to Client SDM for Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
