force-app/main/default/flows/Vendor_Onboarding_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>check_contact_availability</name>
        <label>check contact availability</label>
        <locationX>1009</locationX>
        <locationY>102</locationY>
        <defaultConnector>
            <targetReference>Create_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_contact</targetReference>
            </connector>
            <label>if available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_Headquartered__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>state</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State1__c</picklistField>
        <picklistObject>Bank_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tax_list</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tax_Information__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DesktopLaptop_Spares__c</picklistField>
        <picklistObject>Vendor_Partner_Presence__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Vendor Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Onboarding Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bank_Information</name>
        <label>Create Bank Information</label>
        <locationX>1051</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>Get_Updated_Contact_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>ACH_Routing_Number__c</field>
            <value>
                <elementReference>ACH_Routing_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Account_Name__c</field>
            <value>
                <elementReference>Beneficiary_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Bank_AddressCity__c</field>
            <value>
                <elementReference>Beneficiary_Bank_Address_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Bank_AddressStreet_Address__c</field>
            <value>
                <elementReference>Beneficiary_Bank_Address_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Bank_Name__c</field>
            <value>
                <elementReference>Beneficiary_Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Bank_ZipcodePostal_Code__c</field>
            <value>
                <elementReference>Beneficiary_Bank_Address_Zipcode_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name_Vendor_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country1__c</field>
            <value>
                <elementReference>dpPicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN__c</field>
            <value>
                <elementReference>IBAN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State1__c</field>
            <value>
                <elementReference>dpPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Swift_Code__c</field>
            <value>
                <elementReference>Swift_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Bank_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>1253</locationX>
        <locationY>99</locationY>
        <assignRecordIdToReference>newContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Partner_Presence</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Help_Desk_Department_Email__c</field>
            <value>
                <elementReference>Dispatch_Help_Desk_Department_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Help_Desk_Department_Phone_No__c</field>
            <value>
                <elementReference>Dispatch_Help_Desk_Department_Phone_No.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Department_Email__c</field>
            <value>
                <elementReference>Sales_Department_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Department_Phone_No__c</field>
            <value>
                <elementReference>Sales_Department_Phone_No.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>create_vendor_Partner_Presence</name>
        <label>create vendor Partner Presence</label>
        <locationX>1391</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Financial_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Audio_Video_Support__c</field>
            <value>
                <elementReference>Audio_Video_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capability__c</field>
            <value>
                <elementReference>Capability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DC_BF_Support_for_Server_Equipment__c</field>
            <value>
                <elementReference>DC_B_F_Support_for_Server_Equipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Center_H_F_Support__c</field>
            <value>
                <elementReference>Data_Center_H_F_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesktopLaptop_Spares__c</field>
            <value>
                <elementReference>Desktop_Laptop_Spares</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesktopLaptop_Support__c</field>
            <value>
                <elementReference>Desktop_Laptop_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NW_Equipment_Support__c</field>
            <value>
                <elementReference>N_W_Equipment_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Country_Directly_Supported__c</field>
            <value>
                <elementReference>Name_of_Country_Directly_Supported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Printer_MFD_Support__c</field>
            <value>
                <elementReference>Printer_MFD_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tape_Management_Support__c</field>
            <value>
                <elementReference>Tape_Management_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telecom_Equipment__c</field>
            <value>
                <elementReference>Telecom_Equipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice_Telephony_Support__c</field>
            <value>
                <elementReference>Voice_Telephony_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseSpare_Management__c</field>
            <value>
                <elementReference>Warehouse_Spare_Management</elementReference>
            </value>
        </inputAssignments>
        <object>Vendor_Partner_Presence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>799</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contact_availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_before_screen</name>
        <label>Get contact before screen</label>
        <locationX>459</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_capability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Contact_Value</name>
        <label>Get Updated Contact Value</label>
        <locationX>841</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account2</name>
        <label>update Account2</label>
        <locationX>1231</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Create_Bank_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Check_of_Bank_Account_Number__c</field>
            <value>
                <elementReference>Cancel_Check_of_Bank_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certificate_of_Incorporate_Registration__c</field>
            <value>
                <elementReference>Certificates_of_Incorporation_Company_Registration_Certificate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTVAT_Registration_Certificate__c</field>
            <value>
                <elementReference>GST_VAT_Registration_Certificate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Tax_Registration_Number__c</field>
            <value>
                <elementReference>Service_Tax_Registration_Number_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAX_Identification_Number__c</field>
            <value>
                <elementReference>Tax_Identification_Number_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Information__c</field>
            <value>
                <elementReference>Tax_Information</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>1059</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Partner_Presence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dispatch_Help_Desk_Department_Email__c</field>
            <value>
                <elementReference>Dispatch_Help_Desk_Department_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Help_Desk_Department_Phone_No__c</field>
            <value>
                <elementReference>Dispatch_Help_Desk_Department_Phone_No.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_OwnersDirector_of_the_Company__c</field>
            <value>
                <elementReference>Name_of_Owners_Director_of_the_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Department_Email__c</field>
            <value>
                <elementReference>Sales_Department_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Department_Phone_No__c</field>
            <value>
                <elementReference>Sales_Department_Phone_No.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_with_new_data</name>
        <label>Update contact with new data</label>
        <locationX>376</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email2.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_title_Designation__c</field>
            <value>
                <elementReference>Job_title_Designation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile__c</field>
            <value>
                <elementReference>LinkedIn_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_vendor_Account</name>
        <label>update vendor Account</label>
        <locationX>813</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accrediations_held_by_the_Engineers__c</field>
            <value>
                <elementReference>List_of_Accrediations_held_by_the_Engineers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Award_Details__c</field>
            <value>
                <elementReference>Award_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_the_company_provide_24x7_support__c</field>
            <value>
                <elementReference>Can_the_company_provide_24x7_support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Method__c</field>
            <value>
                <elementReference>Communication_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Number__c</field>
            <value>
                <elementReference>Company_Registration_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_customers_products_and_services__c</field>
            <value>
                <elementReference>Please_list_the_company_s_top_3_customers_and_the_products_and_services_provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_s_LinkedIN_Profile__c</field>
            <value>
                <elementReference>Company_s_LinkedIN_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Headquartered__c</field>
            <value>
                <elementReference>Country_Headquartered_scr1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>If_NOT_US_EURO_specify_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customers_whom_TIG_may_contact_reference__c</field>
            <value>
                <elementReference>Please_Share_the_details_2_customers_whom_TIG_may_contact_for_a_reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_accept_bank_payments_in_EURO__c</field>
            <value>
                <elementReference>Do_you_accept_bank_payments_in_EURO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_accept_bank_payments_in_US__c</field>
            <value>
                <elementReference>Do_you_accept_bank_payments_in_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_multi_lingual_Helpdesk__c</field>
            <value>
                <elementReference>Do_you_have_a_multi_lingual_Helpdesk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_perform_hardware_disposal_activit__c</field>
            <value>
                <elementReference>Do_you_perform_hardware_disposal_activities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>English_speaking_Engineers_for_support__c</field>
            <value>
                <elementReference>No_of_English_speaking_Engineers_for_support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>English_speaking_engineers_for_TIG__c</field>
            <value>
                <elementReference>Provision_for_English_speaking_engineers_for_TIG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTVAT_Registration_Number__c</field>
            <value>
                <elementReference>GST_VAT_Registration_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Company_Awarded__c</field>
            <value>
                <elementReference>Is_Company_Awarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_employees_on_your_Direct_payroll__c</field>
            <value>
                <elementReference>No_of_employees_on_your_Direct_payroll</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Engineers__c</field>
            <value>
                <elementReference>Number_of_Engineers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Support_Call_per_Month__c</field>
            <value>
                <elementReference>Number_of_Support_Call_per_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_service_which_company_can_provide__c</field>
            <value>
                <elementReference>Please_list_any_other_services_which_company_can_provide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Business_Contact_Information__c</field>
            <value>
                <elementReference>Primary_Business_Contact_Informations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisions_for_Health_Safety__c</field>
            <value>
                <elementReference>Provision_for_English_speaking_engineers_for_TIG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Tax_Registration_Number__c</field>
            <value>
                <elementReference>Service_Tax_Registration_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statutory_Details__c</field>
            <value>
                <elementReference>Statutory_D</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAX_Identification_Number__c</field>
            <value>
                <elementReference>TAX_Identification_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Company_s_Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>company_have_automated_web_access_for_lo__c</field>
            <value>
                <elementReference>Does_the_company_have_automated_web_access_for_logging_calls</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Escalation_Matrix</name>
        <label>Escalation Matrix</label>
        <locationX>581</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact_with_new_data</targetReference>
        </connector>
        <fields>
            <name>Escalation_Matrix_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Escalation Matrix&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_title_Designation</name>
            <dataType>String</dataType>
            <fieldText>Job title/ Designation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Updated_Contact_Value.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Updated_Contact_Value.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>user_lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Escalation_Report_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Escalation Report To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Updated_Contact_Value.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Updated_Contact_Value.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <fieldText>Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State_Province</name>
            <dataType>String</dataType>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country2</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LinkedIn_Profile</name>
            <dataType>String</dataType>
            <fieldText>LinkedIn Profile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Financial_Information</name>
        <label>Financial Information</label>
        <locationX>1406</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Account2</targetReference>
        </connector>
        <fields>
            <name>Financial_Information_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Financial Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_List</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Document List&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Certificates_of_Incorporation_Company_Registration_Certificate</name>
            <dataType>String</dataType>
            <fieldText>Certificates of Incorporation / Company Registration Certificate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Information</name>
            <choiceReferences>Tax_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tax Information</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GST_VAT_Registration_Certificate</name>
            <dataType>String</dataType>
            <fieldText>GST/VAT Registration Certificate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Tax_Registration_Number_2</name>
            <dataType>String</dataType>
            <fieldText>Service Tax Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Identification_Number_2</name>
            <dataType>String</dataType>
            <fieldText>Tax Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cancel_Check_of_Bank_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Cancel Check of Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Bank Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Swift_Code</name>
            <dataType>String</dataType>
            <fieldText>Swift Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IBAN</name>
            <dataType>String</dataType>
            <fieldText>IBAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ACH_Routing_Number</name>
            <dataType>String</dataType>
            <fieldText>ACH Routing Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beneficiary_Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beneficiary_Bank_Name</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beneficiary_Bank_Address_Street_Address</name>
            <fieldText>Beneficiary Bank Address(Street Address)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beneficiary_Bank_Address_City</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary Bank Address(City)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dpPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Bank_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Beneficiary_Bank_Address_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Beneficiary_Bank_Address_State_Province__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Beneficiary_Bank_Address_Zipcode_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary Bank Address(Zipcode/Postal Code)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Presence</name>
        <label>Partner Presence</label>
        <locationX>1191</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_vendor_Partner_Presence</targetReference>
        </connector>
        <fields>
            <name>Partner_Presence_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Partner Presence&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Capability</name>
            <dataType>Boolean</dataType>
            <fieldText>Capability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_Country_Directly_Supported</name>
            <choiceReferences>country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Name of Country Directly Supported</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_Laptop_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desktop/Laptop Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_Laptop_Spares</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desktop/Laptop Spares</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Printer_MFD_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Printer / MFD Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>N_W_Equipment_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>N/W Equipment Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Center_H_F_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Center H&amp; F Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tape_Management_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tape Management Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Voice_Telephony_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Voice &amp; Telephony Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Audio_Video_Support</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Audio - Video Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DC_B_F_Support_for_Server_Equipment</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DC B/F Support for Server Equipment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telecom_Equipment</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Telecom Equipment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warehouse_Spare_Management</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Warehouse/Spare Management</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendor_capability</name>
        <label>Vendor capability</label>
        <locationX>642</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_vendor_Account</targetReference>
        </connector>
        <fields>
            <name>Vendor_Capability_heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vendor Capability&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Overview</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Company Overview&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_Headquartered_scr1</name>
            <choiceReferences>country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country Headquartered</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_of_employees_on_your_Direct_payroll</name>
            <dataType>Number</dataType>
            <fieldText>No. of employees on your Direct payroll?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Company_s_Website</name>
            <dataType>String</dataType>
            <fieldText>Company&apos;s Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_s_LinkedIN_Profile</name>
            <dataType>String</dataType>
            <fieldText>Company&apos;s LinkedIN Profile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Company_Awarded</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Company Awarded?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Award_Details</name>
            <fieldText>Award Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Company_Awarded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Primary_Business_Contact_Informations</name>
            <dataType>String</dataType>
            <fieldText>Primary Business Contact Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Provisions_for_Health_Safety</name>
            <fieldText>Provisions for Health &amp; Safety</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Registration_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Company Registration Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Company Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statutory_D</name>
            <dataType>String</dataType>
            <fieldText>Statutory D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GST_VAT_Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>GST/VAT Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Tax_Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Service Tax Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TAX_Identification_Number</name>
            <dataType>String</dataType>
            <fieldText>TAX Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_accept_bank_payments_in_US</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you accept bank payments in US$</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_accept_bank_payments_in_EURO</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you accept bank payments in EURO€</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_NOT_US_EURO_specify_currency</name>
            <choiceReferences>Currency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If NOT US$/EURO€, specify currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employees_Call_Support_Activity</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Employees &amp;amp; Call Support Activity&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Can_the_company_provide_24x7_support</name>
            <dataType>Boolean</dataType>
            <fieldText>Can the company provide 24x7 support?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_a_multi_lingual_Helpdesk</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have a multi lingual Helpdesk?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Support_Call_per_Month</name>
            <dataType>Number</dataType>
            <fieldText>Number of Support Call per Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>No_of_English_speaking_Engineers_for_support</name>
            <dataType>Number</dataType>
            <fieldText>No. of English speaking Engineers for support</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Communication_Method</name>
            <dataType>String</dataType>
            <fieldText>Communication Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_the_company_have_automated_web_access_for_logging_calls</name>
            <dataType>String</dataType>
            <fieldText>Does the company have automated web access for logging calls?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Provision_for_English_speaking_engineers_for_TIG</name>
            <dataType>String</dataType>
            <fieldText>Provision for English speaking engineers for TIG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FIELD_SUPPORT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;FIELD_SUPPORT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Engineers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Engineers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>List_of_Accrediations_held_by_the_Engineers</name>
            <dataType>String</dataType>
            <fieldText>List of Accrediations held by the Engineers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SERVICE_CAPABILITY</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SERVICE CAPABILITY&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_list_the_company_s_top_3_customers_and_the_products_and_services_provided</name>
            <dataType>String</dataType>
            <fieldText>Please list the company&apos;s top 3 customers and the products and services  provided to these customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_Share_the_details_2_customers_whom_TIG_may_contact_for_a_reference</name>
            <dataType>String</dataType>
            <fieldText>Please Share the details 2 customers whom TIG may contact for a reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_perform_hardware_disposal_activities</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you perform hardware disposal activities?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_list_any_other_services_which_company_can_provide</name>
            <fieldText>Please list any other services which company can provide?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Details_of_Key_Personnel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contact Details of key personnel&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Owners_Director_of_the_Company</name>
            <dataType>String</dataType>
            <fieldText>Name of Owners/Director of the Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_contact_before_screen.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_contact_before_screen.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_contact_before_screen.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_contact_before_screen.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sales_Department_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Department Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sales_Department_Phone_No</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Department Phone No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dispatch_Help_Desk_Department_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dispatch Help Desk Department (Email:)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dispatch_Help_Desk_Department_Phone_No</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dispatch Help Desk Department (Phone No:)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_contact_before_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
